.search
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}
.input
{
    height: 30px;
    width: 30px;
    transition: width 0.5 ease;
    margin: 0;
}
.btn
{
    height: 30px;
    width: 30px;
    position: absolute;
    transition: transform 0.5 ease;
   
}
p
{
    margin: 0;
}

.search.active input
{
    width: 170.4px;
}
.search.active .btn
{
    position: relative;
}

